a {
    text-decoration: none;
}

.header-top {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container-batas {
    position: relative;
    margin-top: 90px;
    height: 30px; /* Sesuaikan tinggi batas sesuai keinginan */
  }

.garis-batas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 72, 255, 0), rgba(0, 72, 255, 1), rgba(0, 72, 255, 0)); /* Efek gradien */
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #009bff;
    color: #fff;
    text-align: center;
    border: 1px solid #2e098c;
}

td {
    text-align: left;
    border: 1px solid #007bff;
    text-align: center;
    padding: 8px;
}

td.fitur {
    text-align: left;
  }
