a {
    text-decoration: none;
}

.header-top {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.profilkecil {
    position: relative;
    display: flex;
    justify-content: space-between; 
}

.bi-person-fill {
    font-size: 17px;
}

.bi-chat-heart {
    font-size: 16px;
}

.profilkecil .bi-heart-fill {
    font-size: 16px;
}

.bi-hand-thumbs-up-fill {
    font-size: 16px;
}

.bi-star-fill {
    margin: -2px;
}

.card-text {
    font-size: 11px;
}


.detailproduk {
    padding: 6px;
    padding-bottom: 0;
    width: 80%;
    border-radius: 5px;
}

img {
    width: 120px;
}