a {
  text-decoration: none;
}
.container {
  max-width: 700px;
}

.card .container:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
  
}

.medsos {
  margin: auto;
  font-size: 30px;
}

.layanan:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.card img {
  width: 150px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
}

.bg-name {
  width: 250px;
  justify-content: center;
  align-items: center;
}

.bg-job {
  width: 250px;
  justify-content: center;
  align-items: center;
}

.bio {
  font-weight: bold;
  padding: 15px;
  width: 75%;
  margin: auto;
}

.bio h3 {
  font-size: 1.1em;
}

.bi-arrow-up-right-square-fill {
  color: #005eff;
}