a {
    text-decoration: none;
}

.header-top {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

#beranda {
    color: #fff;
}

.nav-item {
    text-decoration: none;
}

.cent {
    font-size: 20px;
}

.list-unstyled {
    font-weight: bold;
    text-align: left;
    margin: auto;
    display: inline-block;
}

.fa-square-check {
    color: green;
    font-weight: bold;
}

.fa-square-xmark {
    color: red;
    font-weight: bold;
}

.fa-clock {
    color: blue;
    font-weight: bold;
}

footer {
    width: 100%;
}